.btn-1 {
    background-color:  #01377A;
}
.btn-1:hover{
    background-color: #005BCB ;
}

.btn-2 {
    background-color:  #147B00;
}
.btn-2:hover{
    background-color: #1EB201 ;
}

.btn-3 {
    background-color:  #902500;
}
.btn-3:hover{
    background-color: #C13302 ;
}